<h1 class="page-header">Utilisateurs</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12" data-ng-hide="users.length">
            <p>Aucun utilisateur actuellement enregistré</p>
        </div>
        <table class="col-xs-12 table table-stripped table-hover table-responsive" data-ng-show="uvs.length">
            <thead>
                <tr>
                    <th>E-mail</th>
                    <th>Prénom</th>
                    <th>Nom</th>
                </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="user in users track by user.id">
                <td>{{user.email}}</td>
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>