<h1 class="page-header">
    <a data-ui-sref="uv.list" class="btn btn-default">
        <span class="glyphicon glyphicon-circle-arrow-left glyphicon-2x"></span>
        <span class="sr-only">Liste des UVs</span>
    </a>
    Détails de l'UV {{ uv.nom }}
</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        Modules
                        <button class="btn btn-success btn-sm" data-ng-click="createModule()">
                            <span class="glyphicon glyphicon-plus-sign"></span>
                            <span class="sr-only">Ajouter un module</span>
                        </button>
                    </h2>
                </div>
                <div class="panel-body" data-ng-hide="uv.modules.length">
                    <p>Aucun module n'est associé à cette UV.</p>
                </div>
                <table class="table table-stripped" data-ng-show="uv.modules.length">
                    <thead>
                        <tr>
                            <th>Nom</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="module in uv.modules track by module.id">
                        <td>{{ module.nom }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2 class="panel-title">Formations</h2>
                </div>
                <div class="panel-body" data-ng-hide="uv.formations.length">
                    <p>Aucune formation n'est associée à cette UV.</p>
                </div>
                <table class="table table-stripped" data-ng-show="uv.formations.length">
                    <thead>
                        <tr>
                            <th>Nom</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="formation in uv.formations track by formation.id">
                        <td>{{ formation.nom }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="create.html">
    <div class="modal-header panel-heading">
        <h3 class="modal-title">Ajouter un module</h3>
    </div>
    <form  class="modal-body" novalidate>
        <formly-form model="model" fields="fields">
            <div class="modal-footer">
                <input type="submit" class="btn btn-primary" data-ng-click="ok()" value="Ajouter" />
                <button type="reset" class="btn btn-default" data-ng-click="cancel()">Annuler</button>
            </div>
        </formly-form>
    </form>
</script>