<?xml version="1.0" encoding="UTF-8"?>

<h1 class="page-header">UVs</h1>

<div class="container-fluid">
	<div class="row">
		<div class="btn-toolbar col-xs-12 text-right">
			<button class="btn btn-primary" data-ng-click="open()">
				<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
				<span class="sr-only">Ajouter</span>
			</button>
		</div>
	</div>
	<div class="row">
		<table class="col-xs-12 table table-stripped table-hover table-responsive" data-ng-show="uvs.length">
			<thead>
				<tr>
					<th>Intitulé</th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="uv in uvs track by uv.id" data-ui-sref="uv-detail({uvId: uv.id})">
					<td>{{ uv.nom }}</td>
				</tr>
			</tbody>
		</table>
		<div class="col-xs-12" data-ng-show="!uvs.length && !isLoading">
			<p>Aucune UV actuellement enregistrée</p>
		</div>
	</div>
</div>

<script type="text/ng-template" id="uv-add.html">
	<div class="modal-header panel-heading">
		<h3 class="modal-title">Ajouter une UV</h3>
	</div>
	<form class="modal-body">
			<div class="form-group">
				<label for="intitule" class="sr-only">Intitulé</label>
				<input type="text" id="intitule" class="form-control input-lg" placeholder="Intitulé" ng-model="model.nom" required autofocus/>
			</div>
			<div class="modal-footer">
				<input type="submit" class="btn btn-primary" data-ng-click="ok()" value="Ajouter" />
				<button type="reset" class="btn btn-default" data-ng-click="cancel()">Annuler</button>
			</div>
	</form>
</script>